//初始化
@import ./base/_reset
//引用字型
@import ./base/_font
//變數

@import 'bootstrap/scss/functions'
@import './base/_variables.scss'
@import 'bootstrap/scss/bootstrap'

*
    font-family: "Philosopher", "Noto Sans TC", "微軟正黑體修正", "Microsoft JhengHei", "微軟正黑體", sans-serif

.home_head
    color: #1a520f

.home_head .subtitle
    font-size: 3.75rem
    // font-family: "Philosopher", "微軟正黑體修正", "Microsoft JhengHei", "微軟正黑體", sans-serif
    letter-spacing: 2.65px
    line-height: 1.2

@media only screen and (max-width: 1200px)
    .home_head .subtitle
        font-size: 3.125rem

@media only screen and (max-width: 575px)
    .home_head .subtitle
        font-size: 2.25rem

.home_head .title
    font-size: 1.5rem
    // font-family: "CenturyGothic-Bold", "微軟正黑體修正", "Microsoft JhengHei Bold", "Microsoft JhengHei", sans-serif
    font-weight: bold
    padding-top: 10px
    letter-spacing: 1.23px
    line-height: 1.3

@media only screen and (max-width: 575px)
    .home_head .title
        font-size: 1.375rem

.home_head .p
    letter-spacing: 0.46px
    line-height: 1.8
    padding-top: 15px
    letter-spacing: 0.46px
    color: #000000

.home_head.waypoint
    transform: translateY(-50px)
    opacity: 0

.home_head.show
    transform: translateY(0px)
    opacity: 1

.homepd
    background: #ece9e9
    padding-top: 140px

@media only screen and (max-width: 1200px)
    .homepd
        padding-top: 100px

@media only screen and (max-width: 575px)
.homepd
    padding-top: 60px

.homepd .homepd_wrap
    max-width: 1600px
    width: 95%
    margin: 0 auto

.homepd .home_head
    max-width: 500px
    width: 90%
    margin: 0 auto
    text-align: center

.homepd .home_head .p
    max-width: 380px
    width: 100%
    margin: 0 auto

.homepd .pd_block
    position: relative
    width: 95%
    margin: 0 auto
    padding: 0 45px
    margin-top: 15px

@media only screen and (max-width: 575px)
.homepd .pd_block
    padding: 0 30px

.homepd .pd_block.waypoint
    transform: translateY(50px)
    opacity: 0

.homepd .pd_block.show
    transform: translateY(0px)
    opacity: 1
    transition: 0.7s

.homepd .swiper-no-swiping .swiper-wrapper
    justify-content: center

.homepd .swiper-slide:nth-child(even)
    margin-top: 35px

@media only screen and (max-width: 575px)
.homepd .swiper-slide:nth-child(even)
    margin-top: 0

.homepd .pd_li
    max-width: 380px
    width: 88%

.homepd .pd_wrap
    position: relative
    display: block
    max-width: 340px
    width: 100%
    margin: 0 auto
    margin-top: 15px

.homepd .pd_wrap:hover .pd_pic:after
    background: rgba(0, 0, 0, 0.7)
    transition: 0.5s

.homepd .pd_wrap:hover img
    filter: blur(2px)
    transform: translate(-50%, -50%) scale(1.1)
    transition: 1s

.homepd .pd_wrap:hover .pd_dec
    opacity: 1
    transition: 0.5s

.homepd .pd_wrap:hover .pd_btn
    opacity: 1
    transition: 0.5s

.homepd .pd_notice
    position: absolute
    top: 0
    left: 0
    transform: translate(-15px, -15px)
    display: flex
    justify-content: center
    align-items: center
    width: 70px
    height: 70px
    border-radius: 50%
    font-family: "Taviraj-SemiBold", "微軟正黑體修正", "Microsoft JhengHei Bold", "Microsoft JhengHei", sans-serif
    color: #ffffff
    letter-spacing: 0.46px
    z-index: 5

.homepd .pd_pic
    position: relative
    padding-bottom: 100%
    border-radius: 20px
    overflow: hidden
    z-index: 1

.homepd .pd_pic:after
    position: absolute
    content: ""
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0)
    -webkit-transition: 0.5s
    transition: 0.5s
    z-index: 0

.homepd img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: 0.5s
    width: 100%
    height: 100%
    object-fit: contain
    z-index: 0

.homepd .pd_dec
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    max-width: 260px
    width: 85%
    margin: 0 auto
    z-index: 2
    opacity: 0
    transition: 0.5s

.homepd .pd_p
    position: relative
    font-size: 0.875rem
    letter-spacing: 1.05px
    line-height: 1.8
    color: #ffffff
    padding: 30px 0 0
    margin-bottom: 30px
    display: block
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 3

.homepd .pd_p:before
    position: absolute
    content: ""
    top: 0
    left: 0
    background: #ffffff
    height: 4px
    width: 70px
    border-radius: 2px

.homepd .pd_btn
    position: absolute
    bottom: 8%
    left: 50%
    transform: translateX(-50%)
    max-width: 260px
    width: 85%
    margin: 0 auto
    text-align: right
    z-index: 3
    opacity: 0
    transition: 0.5

.homepd .pd_btn .btn_more
    color: #ffffff

.homepd .pd_title
    max-width: 260px
    width: 90%
    margin: 0 auto
    text-align: right
    font-family: "CenturyGothic-Bold", "微軟正黑體修正", "Microsoft JhengHei Bold", "Microsoft JhengHei", sans-serif
    margin-top: 20px
    line-height: 1.3

@media only screen and (max-width: 575px)
.homepd .pd_title
    text-align: center

.homepd .pd_title .title
    font-size: 1.125rem
    letter-spacing: 0.9px

.homepd .pd_title .tag
    font-size: 0.875rem
    margin-top: 10px
    letter-spacing: 0.7px

.homepd .swiper_prev
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    font-size: 2.5rem
    cursor: pointer
    padding: 10px 0
    transition: 0.5s

@media only screen and (min-width: 1201px)
.homepd .swiper_prev:hover
    color: #e04f2e
    -webkit-transition: 0.5s
    transition: 0.5s

@media only screen and (max-width: 575px)
.homepd .swiper_prev
    font-size: 1.875rem

.homepd .swiper_next
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    font-size: 2.5rem
    cursor: pointer
    padding: 10px 0
    -webkit-transition: 0.5s
    transition: 0.5s

@media only screen and (min-width: 1201px)
.homepd .swiper_next:hover
    color: #e04f2e
    transition: 0.5s

@media only screen and (max-width: 575px)
.homepd .swiper_next
    font-size: 1.875rem

.homepd .swiper-button-disabled
    color: #cccccc
    cursor: default
    transition: 0.5s

.homepd .swiper-button-disabled:hover
    color: #cccccc




.home .home_news 
    position: relative
    // background-image: url("../../uploads/home/homebg5_1920x700.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    margin-top: -135px


@media only screen and (max-width: 768px) 
    .home .home_news 
        // background-image:url(../../uploads/home/homebgrwd3_800x1000.png)
    


.home .home_news .news_block 
    max-width: 1620px
    width: 100%
    margin: 0 auto
    padding-top: 120px


@media only screen and (max-width: 1024px) 
    .home .home_news .news_block 
        padding-top:80px
    


.home .home_news .home_title 
    margin: 0 auto
    text-align: center


.home .home_news .news_list 
    display: flex
    justify-content: space-between


@media only screen and (max-width: 1700px) 
    .home .home_news .news_list 
        flex-wrap: wrap
        justify-content: center
    


@media only screen and (max-width: 1365px) 
    .home .home_news .news_list 
        flex-wrap: nowrap
        justify-content: unset
    


.home .home_news .swiper-container 
    padding-bottom: 230px
    padding-top: 15px
    padding-left: 10px
    padding-right: 10px


@media only screen and (max-width: 1700px) 
    .home .home_news .swiper-container 
        padding-bottom:200px
        width: 90%
        margin-top: 35px
    


@media only screen and (max-width: 1365px) 
    .home .home_news .swiper-container 
        padding-bottom:230px
    


@media only screen and (max-width: 1023px) 
    .home .home_news .swiper-container 
        width:100%
    


.home .home_news .swiper-slide 
    width: auto
    background: none


@media only screen and (max-width: 1700px) 
    .home .home_news .swiper-slide 
        width:50%
    

    .home .home_news .swiper-slide:nth-child(2) 
        order: 1
    


@media only screen and (max-width: 1365px) 
    .home .home_news .swiper-slide 
        width:33%
    

    .home .home_news .swiper-slide:nth-child(2) 
        order: 0
    


@media only screen and (max-width: 1023px) 
    .home .home_news .swiper-slide 
        width:100%
    


@media only screen and (min-width: 1701px) 
    .home .home_news .swiper-slide:nth-child(2n) 
        transform: translateY(25%)
    


@media only screen and (max-width: 1365px) 
    .home .home_news .swiper-slide:nth-child(2n) 
        transform: translateY(30%)
    


@media only screen and (max-width: 1023px) 
    .home .home_news .swiper-slide:nth-child(2n) 
        transform: none
    


@media only screen and (min-width: 1024px) 
    .home .home_news .swiper-slide:nth-child(2n) .news_img 
        // -webkit-clip-path:url("#n2")
        // clip-path: url("#n2")
        width: 300px
        height: 240px
    

    .home .home_news .swiper-slide:nth-child(2n) .news_bg 
        border-radius: 55% 42% 37% 45% / 47% 60% 36% 52%
    


.home .home_news .news_item 
    display: flex
    align-items: center


@media only screen and (max-width: 1365px) 
    .home .home_news .news_item 
        flex-direction: column
    


@media only screen and (max-width: 1023px) 
    .home .home_news .news_item 
        flex-direction: row
    

    .home .home_news .news_item .news_detail 
        margin-top: 0
        text-align: left
        margin-left: 20px
    


@media only screen and (max-width: 767px) 
    .home .home_news .news_item 
        flex-direction: column
    

    .home .home_news .news_item .news_detail 
        margin-top: 35px
        text-align: center
        margin-left: 0
    


.home .home_news .news_item:hover .news_bg 
    filter: drop-shadow(0px 5px 10px #7d7d7d)
    transition: .5s


.home .home_news .news_item:hover .hover 
    opacity: 1
    transition: .5s .1s


.home .home_news .news_item:hover .news_img:after 
    opacity: 0.75
    transition: .5s


.home .home_news .news_bg 
    position: relative
    border-radius: 37% 45% 55% 42% / 36% 52% 47% 60%
    overflow: hidden
    margin-right: 30px
    transition: .5s


@media only screen and (max-width: 1365px) 
    .home .home_news .news_bg 
        margin-right:0
    


.home .home_news .news_bg .news_img 
    position: relative
    margin: 0 auto
    width: 250px
    height: 200px
    // clip-path: url("#n1")
    transition: .5s


@media only screen and (max-width: 1365px) 
    .home .home_news .news_bg .news_img 
        width:300px
        height: 245px
    


@media only screen and (max-width: 1024px) 
    .home .home_news .news_bg .news_img 
        width:235px
        height: 190px
    


.home .home_news .news_bg .news_img img 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: 100%
    object-fit: cover


.home .home_news .news_bg .news_img:after 
    position: absolute
    content: ""
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    background: #eb6c7e
    opacity: 0
    z-index: 1
    transition: .5s .1s


.home .home_news .news_bg .hover 
    position: absolute
    content: ""
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: #ffffff
    z-index: 2
    opacity: 0
    transition: .5s


.home .home_news .news_bg .hover span 
    font-size: 40px
    transform: rotate(-45deg)


@media only screen and (max-width: 1024px) 
    .home .home_news .news_bg .hover span 
        font-size:30px
    


.home .home_news .news_bg .hover p 
    padding-top: 10px
    font-family: 'Calibri-Bold', "微軟正黑體修正", Arial , "微軟正黑體", sans-serif
    font-size: 1.25rem
    font-weight: bold


@media only screen and (max-width: 1024px) 
    .home .home_news .news_bg .hover p 
        font-size:1rem
    


.home .home_news .swiper_next 
    display: none


@media only screen and (max-width: 1023px) 
    .home .home_news .swiper_next 
        display: flex
        position: absolute
        top: 30%
        right: 5%
        transform: translateY(-50%)
        z-index: 10
        margin: 0
    


.home .home_news .swiper_prev 
    display: none


@media only screen and (max-width: 1023px) 
    .home .home_news .swiper_prev 
        display: flex
        position: absolute
        top: 30%
        left: 5%
        transform: translateY(-50%) rotate(180deg)
        z-index: 10
    


.home .home_news .news_detail 
    max-width: 230px
    text-align: left


@media only screen and (max-width: 1365px) 
    .home .home_news .news_detail 
        text-align: center
        margin-top: 15px
    


@media only screen and (max-width: 768px) 
    .home .home_news .news_detail 
        margin-top:35px
    


.home .home_news .news_detail .news_data 
    font-family: 'Calibri-Bold', "微軟正黑體修正", Arial , "微軟正黑體", sans-serif
    font-size: 2.1875rem
    font-weight: bold


.home .home_news .news_detail .news_title 
    padding-top: 15px
    font-family: 'Calibri-Bold', "微軟正黑體修正", Arial , "微軟正黑體", sans-serif
    font-size: 1.25rem
    font-weight: bold


.home .home_news .news_detail p 
    color: #666666
    line-height: 1.6
    font-size: 0.875rem
    padding-top: 15px
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical

.homebanner
    .bn_wrap
        min-height: 100vh
        display: flex
    .bn_left
        width: 50%
    .bn_bg
        height: 100%
        background-position: center
        background-repeat: no-repeat
        background-size: cover
    .bn_right
        width: 50%
        display: flex
    .right_wrap
        max-width: 800px
        width: 85%
        margin: auto
        padding-top: 50px
    .bn_pd
        max-width: 500px
        width: 60%
        margin: 0 auto
        margin-top: 50px

.bn_title
    font-weight: bold
    .title
        letter-spacing: 2px
        font-size: 44px
        color: rgb(82, 72, 63)
    .sub
        letter-spacing: 1px
        margin-top: 10px
        max-width: 350px
        line-height: 1.8
        font-size: 14px